.ui.container {
	margin-top: 10px;
}

.show-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 0 20px;
}

.show-list img {
	width: 100%;
	height: 400px;
	align-self: center;
	display: flex;
}

.ui.card:first-child{
	margin: 1em 0;
}

.ui.card:last-child{
	margin: 1em 0;
}

.ui.card{
	padding-bottom: 10px;
}

h3.ui.header{
	color: rgba(0, 0, 0, 0.85);	
}

h3.ui.header:hover {
	color: #089a94;
}

.list{
	margin: auto;
	max-width: 1133px;
}
